auto-install-peers=true

strict-peer-dependencies=false

shamefully-hoist=false

public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*tailwindcss*
public-hoist-pattern[]=*postcss*
public-hoist-pattern[]=*autoprefixer*

node-linker=hoisted

